<IfModule mod_rewrite.c>
    RewriteEngine On

    # No reescribir las peticiones a la API
    RewriteCond %{REQUEST_URI} !^/api/

    # Si el archivo o directorio solicitado no existe...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # ...redirigir la petición al index.html de Angular.
    RewriteRule . /static/index.html [L]
</IfModule>