name: Main CI/CD Workflow

on:
  workflow_dispatch:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  frontend:
    uses: ./.github/workflows/frontend-ci-cd.yml
    secrets: inherit

  create-tag:
    needs: [frontend]
    runs-on: ubuntu-latest
    permissions:
      contents: write 
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create and Push Git Tag
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          TAG_NAME=$(date +'%d%m%Y-%H%M%S')
          git tag $TAG_NAME
          git push origin $TAG_NAME
        env:
          # El GITHUB_TOKEN es un secret especial proporcionado por Actions
          # para autenticar operaciones contra el repositorio.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
